.wrapper {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  max-height: 50rem;
  background: var(--color-white);
  box-shadow: 0 0.4rem 3.2rem var(--color-shadow);
  border-radius: 1.2rem;

  position: absolute;
  top: 4.8rem;
  left: 0;
  width: 100%;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  transition: visibility 0.3s, opacity 0.3s linear;
}
