.list {
  width: 100%;

  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 100%;
  overflow-y: auto;

  margin-bottom: 1.6rem;
}

.notFound {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 2rem 0;
}
